.main-heading {
  font-size: 100px;
  text-align: center;
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content:space-around
}

.hidden-content{
    display: none;
}

.hidden-content.reveal-btn{
  display: block;
}

